/* En tu archivo CSS */
.products-container {
  display: grid; /* Puedes cambiar "grid" por "flex" si prefieres una fila en lugar de una cuadrícula */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Cambia el tamaño de columna según tus necesidades */
  gap: 20px; /* Espacio entre los elementos */
}

/* Estilo de cada elemento del inventario */
.product {
  border: 1px solid #ccc; /* Borde del recuadro */
  padding: 20px; /* Espacio interno del recuadro */
}

